{% extends 'blog/base.html' %}
{% load staticfiles %}

{% block content %}
    {% for post in posts %}
        <div class="post">
            <h1><a href="{% url 'post_detail' pk=post.pk %}">{{ post.title }}</a></h1>
            <h4>{{ post.author }}</h4>
            <p>{{ post.text|linebreaksbr }}</p>
            <a href="{% url 'post_detail' pk=post.pk %}">Comments: {{ post.approved_comments.count }}</a>
            <div class="date">
                {{ post.published_date }}
            </div>
        </div>
    {% endfor %}

{% endblock %}